.menu {
  padding-top: 10%;
  position: fixed;
  z-index: 2;
  justify-content: flex-start;
  min-width: 320px;
  height: 100vh;
  background-color: rgba(255, 125, 90, 1);
  color: #fff;
  transition: all 0.7s;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      background-position: left center;
      background-repeat: no-repeat;

      a {
        display: block;
        box-sizing: border-box;
        min-height: 60px;
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 17px;
        line-height: 60px;

        &.active {
          border-right: 2px solid #efba44;
        }
      }
    }
  }
  @media (min-width: 635px) {
    display: none;
  }
}
