body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}

.nav {
  flex-wrap: wrap;
  background: linear-gradient(180deg, #fc805d 0%, #f86478 100%);
  text-align: center;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
  }
  nav > ul {
    padding: 4px 16px;
  }
  li {
    display: flex;
    padding: 6px 8px;
  }

  .menu-button {
    position: relative;
    display: none;
    width: 32px;
    height: 32px;
    z-index: 3;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: #fff;
    }

    span + span {
      margin-top: 13px;
    }
  }

  .active span:nth-child(1) {
    animation: ease 0.7s top forwards;
  }

  .not-active span:nth-child(1) {
    animation: ease 0.7s top-2 forwards;
  }

  .active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
  }

  .not-active span:nth-child(2) {
    animation: ease 0.7s scaled-2 forwards;
  }

  .active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
  }

  .not-active span:nth-child(3) {
    animation: ease 0.7s bottom-2 forwards;
  }

  @media (max-width: 635px) {
    // position: fixed;
    z-index: 1;
    width: 100%;

    .menu-button {
      display: block;
    }

    button {
      display: block;
    }

    ul {
      display: none;
    }
  }

  @media (max-width: 480px) {
    align-items: center;
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 13px;
    transform: rotate(0);
  }

  100% {
    top: 13px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 15px;
    transform: rotate(45deg);
  }

  50% {
    top: 15px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 14px;
    transform: rotate(0);
  }

  100% {
    bottom: 14px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 14px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 15px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
