.event {
    margin: 25px auto;
    padding: 40px 45px;
    max-width: 680px;
    background-color: white;
    box-shadow: 0 0 5px rgb(155, 144, 144);


    header {
        display: flex;
        justify-content: space-between;
    }

    p {
        margin: 30px 0;
        text-align: center;
        word-break: break-word;
    }

    .source {
        color: #fa706c;
    }

    img {
        display: block;
        margin: 10px auto;
        max-width: 100%;
    }

    button {
        display: block;
        margin: 10px auto;
        margin-top: 30px;
        color: #fa706c;
        text-transform: none;

        &:hover {
            text-decoration: underline;
            opacity: 1;
        }


    }
}