.search-page {
    h3 {
        text-align: center;
    }

    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 40px 0;

        input {
            min-width: 200px;
            height: 20px;
        }
    }



}