body {
    background-color: antiquewhite;
}

.search-page {
    h3 {
        text-align: center;
    }

    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 40px 0;

        input {
            min-width: 200px;
            height: 20px;
        }
    }


    .event {
        margin: 25px auto;
        padding: 25px;
        max-width: 680px;
        background-color: white;
        box-shadow: 0 0 5px rgb(155, 144, 144);

        header {
            display: flex;
            justify-content: space-between;
        }

        p {
            margin: 30px 0;
            text-align: center;
            word-break: break-word;
        }

        img {
            display: block;
            margin: 10px auto;
            max-width: 100%;
        }

        button {
            display: block;
            margin: 10px auto;
            margin-top: 30px;
            height: 30px;

        }
    }
}