.search-page {
    padding-bottom: 40px;
    min-height: 100vh;
    // background: #eceff0;

    .admin-button {
        display: block;
        margin: 10px auto;
    }

    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 40px 0;

        input {
            padding: 10px 20px;
            min-width: 200px;
            height: 20px;
            outline: none;
            border: 2px solid white;
            border-radius: 4px;
            background-color: transparent;
            color: white;
            font-weight: bold;


            &::placeholder {
                color: white;

                // color: #fa706c;
            }
        }
    }

    .events {
        padding: 0 10px;

    }

    .search-text {
        color: white;
    }

    .load-more {
        display: block;
        margin: 20px auto 0px;
        // border: 2px solid #fa706c;
        border: 2px solid white;
        color: white;
        // color: #fa706c;

    }

}