@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Open Sans';
}

.search-page,
.feedback,
.new-page {
    min-height: 100vh;
    background: linear-gradient(106.44deg, rgba(255, 125, 90, 0.767) 13.43%, rgba(248, 37, 75, 0.7) 101.27%);



    h3 {
        margin-top: 50px;
        // color: #fa706c;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 32px;
        font-family: Open Sans;
    }

}