@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
    margin: 0;
    padding: 0;

}

* {
    font-family: 'Open Sans';
}



.search-page,
.new-page {

    h3 {
        margin-top: 50px;
        color: #fa706c;
        text-align: center;
    }

}