.new-page {
    h3 {
        text-align: center;
    }

    p {
        text-align: center;

    }

    button {
        color: #fa706c;
    }

    .new-event {
        max-width: 480px;
        margin: 10px auto;
    }
}